
pickledata.pkl.npy
.vs/WindowsFormsApp3/v15/Server/sqlite3/db.lock
.vs/WindowsFormsApp3/v15/.suo
.vs/WindowsFormsApp3/v15/Server/sqlite3/storage.ide
.vs/WindowsFormsApp3/v15/Server/sqlite3/storage.ide-shm
.vs/WindowsFormsApp3/v15/Server/sqlite3/storage.ide-wal
